    <!--begin header -->
    <header class="header">

        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            
            <!--begin container -->
            <div class="container">
        
                <!--begin navbar -->
                <div class="navbar-header">

                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        
                    <!--logo -->
                    <a href="index.html" class="navbar-brand" id="logo">Nova</a>

                </div>
                        
                <div id="navbar-collapse-02" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="#home_wrapper">Home</a></li>

                        <li><a href="#about">About</a></li>

                        <li><a href="#team">Team</a></li>

                        <li><a href="#gallery">Gallery</a></li>

                        <li><a href="#features">Features</a></li>

                        <li><a href="#pricing">Pricing</a></li>

                        <li><a href="#blog">Blog</a></li>

                        <li><a href="#contact">Contact</a></li>

                        <li><a href="#download-app" class="external discover-btn">Get Started</a></li>
                       
                    </ul>
                </div>
                <!--end navbar -->
                                    
            </div>
    		<!--end container -->
            
        </nav>
    	<!--end nav -->
        
    </header>
    <!--end header -->

        <!--begin home section -->
        <section class="home-section" id="home_wrapper">

            <div class="home-section-overlay"></div>
    
            <!--begin container -->
            <div class="container">
    
                <!--begin row -->
                <div class="row">
                  
                    <!--begin col-md-7-->
                    <div class="col-md-7 padding-top-80">
    
                          <h1>Welcome To Nova, The Wold's Most Powerful App Template</h1>
    
                          <p>Curabitur quam etsum lacus etsumis nulatis etsumised vitae nislet varius loremis sedit  feugiat ligula aliquam etsimus dictimelis et netsum ipsum etim quias ligula.</p>
    
                        <a href="#about" class="btn-green scrool">Explore Benefits</a>
    
                    </div>
                    <!--end col-md-7-->
               
                    <!--begin col-md-5-->
                    <div class="col-md-5 wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">
    
                          <img src="assets/images/iphones-2-2.png" class="width-100" alt="pic">
    
                    </div>
                    <!--end col-md-5-->
    
                </div>
                <!--end row -->
    
            </div>
            <!--end container -->
    
        </section>
        <!--end home section -->